@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efeitos personalizados */
input[type="text"],
input[type="number"] {
  transition: all 0.2s ease;
}

button {
  transition: background-color 0.2s ease;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
