@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efeitos personalizados */
input[type="text"],
input[type="number"] {
  transition: all 0.2s ease;
}

button {
  transition: background-color 0.2s ease;
}

/* Custom Scroll*/
::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

:hover::-webkit-scrollbar-thumb {
  background: #5a5f6a;
}

:active::-webkit-scrollbar-thumb {
  background: #737884;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

:hover {
  scrollbar-color: #5a5f6a transparent;
}
